<!doctype html>
<html lang='si'>

<head>
  <title>BestHack</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style type="text/css">
    .sirina {
      width:50%;
    }
    
    .center {
      background-color:#ffffff;
      position: fixed;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -15%);
      width:50%;
      padding: 25px;
      border-radius: 35px;
    }
  </style>
</head>

<body style="background-image:url('images/ostalo.jpg')">
    <div style="width:100%; padding:10px;">
      <form action="/" method="get">
        <div>
            <input type="submit" class="btn btn-default" style="float:right; margin-left:20px;" value="Home" />
        </div>
      </form>
      <form action="/odjava" method="get">
        <div>
            <input type="submit" class="btn btn-default" style="float:right;" value="Odjava" />
        </div>
      </form>
    </div>
    
    <div class="center" >
      <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" class="form-control" id="StudentId" name="StudentId" value="<%= nastavitve[1] %>" />
        </div>
        <div class="form-group">
          <select class="form-control" style="color:#999" id="faculty" name="faculty" value="Fakulteta za računalništvo in informatiko">
            <option value="Zivalski vrt">Fakulteta za računalništvo in informatiko</option>
          </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Station" name="Station" value="<%= nastavitve[3] %>" />
        </div>
        <div class="form-group">
          <p> Prevozna sredstva:</p>
            <input type="checkbox" style="margin-left:20px;" name="vehicle1" value="0" <% if(nastavitve[4] == 1){ %> checked <% } %> >  Avto<br>
            <input type="checkbox" style="margin-left:20px;" name="vehicle2" value="0" <% if(nastavitve[5] == 1){ %> checked <% } %>>  Avtobus<br>
            <input type="checkbox" style="margin-left:20px;" name="vehicle3" value="0" <% if(nastavitve[6] == 1){ %> checked <% } %>>  Kolo<br>
            <input type="checkbox" style="margin-left:20px;" name="vehicle4" value="0" <% if(nastavitve[7] == 1){ %> checked <% } %>>  Hoja<br>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="time" name="time" value="<%= nastavitve[8] %>" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="distance" name="distance" value="<%= nastavitve[9] %>" />
        </div>
        <div class="form-group" style="float:right">
            <input type="submit" class="btn btn-default" value="Shrani" />
        </div>
      </form>
    </div>
    
    
</body>
</html>