<!doctype html>
<html lang='si'>

<head>
  <title>BestHack</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <div style="width:100%; padding:10px;">
      <div>
          <input type="button" href="/nastavitve" class="btn btn-default" style="float:right; margin-left:20px;" value="Nastavitve" />
      </div>
      <div>
          <input type="button" href="/odjava" class="btn btn-default" style="float:right;" value="Odjava" />
      </div>
    </div>
    
    
</body>
</html>