<!doctype html>
<html lang='si'>

<head>
  <title>BestHack</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style type="text/css">
    .prijava {
      width: 400px;
      padding: 10px;
      text-align: center;
      background-color: #f0f0f0;
      border-radius: 25px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
</head>

<body>
    <div class="prijava"> <h1>Prijava</h1>
    <form action="" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <input type="text" class="form-control" id="UserName" name="UserName" placeholder="username" />
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="Password" name="Password" placeholder="password" />
      </div>
      <div class="form-group">
          <input type="submit" class="btn btn-default" value="Prijava" />
      </div>
    </form>
    </div>
    
    
</body>
</html>